@charset 'UTF-8';

@media (min-width: 1200px){
    body {
        position: relative;
        padding-top: 70px;
    }
}


.brand-logo
{
    background: url('/assets/img/logo.png') no-repeat left center;
    height: 60px;
    width: 90px;
    display: block;
    float: left;
    filter: gray;
    -webkit-filter: grayscale(70%);
}

#phadmin-footer{
    font-size: 12px;
}
